@layer base {
    html {
        font-family: Ubuntu;
    }
}

@font-face {
	font-family: "QARVIC";
	src: url("/fonts/QARVIC.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "QARVICBold";
	src: url("/fonts/QARVICBold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "QARVICItalic";
	src: url("/fonts/QARVICItalic.otf") format("opentype");
	font-weight: normal;
	font-style: italic;
}
